@{
    ViewData["Title"] = "Contact";
}
<h1>Contact Us</h1>
<h2>&copy; 2024 Beverage Collection Site</h2>
<br />
<br />
<p>For technical support, email us at it@mgv.com</p>
<p>Reach us by email at beveragecollection@mgv.com</p>
<p>To speak to an unpaid intern, call us at 1-800-BIG-DOPE</p>
<br />
<p>1234 Main Street Ave</p>
<p>New York City, NY 10000-0000</p>

