@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Beverage Collection Site</h1>    
</div>
<br />
<br />
<p>Check out the Beverage Collection to view the full selection of drinks available.</p>
<br />
<p>Register now to add your own drinks, update the collection, or remove items from inventory.</p>
