@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Privacy? Never heard of it! All user information, voluntarily provided, is considered fare use under company policy.
    By registering, you surrender use of your email and password in perpetuity. The Beverage Collection Site appreciates your cooperation.
</p>
